*{
    margin: 0%;
    padding: 0;
}
body{
    /* background-image: \Users\USER\Downloads\visual-studio.png; */
    /* background-image: -moz-linear-gradient(\Users\USER\Downloads\visual-studio.png); */
    background-color: aquamarine;
}